.topSection {
  display: flex;

  justify-content: space-between;
}
.shortDescription {
  width: calc(100vw - 630px);
  display: flex;
  flex-direction: column;

  align-items: start;
}

.sliderContainer {
  margin: 0 20px;
  width: 454px;
}
.detailsLinkContainer {
  text-align: left;
}

.detailsLink {
  color: #2e69ad;
  line-height: 3rem;
}

.detailsLink:hover {
  cursor: pointer;
}
