.mainSwiper {
  .swiper {
    margin: 0 auto;

    .swiper-button-prev,
    .swiper-button-next {
      z-index: 20;
      top: calc(100% - 20px);

      @media screen and (max-width: 800px) {
        top: calc(100% - 20px);
      }
    }

    .swiper-button-next {
      left: 90%;

      &:after {
        width: 35px;
        height: 35px;
        content: "\005E";
        transform: rotate(90deg);
        font-weight: bold;
      }
    }

    .swiper-button-prev {
      left: 80%;

      &:after {
        width: 35px;
        height: 35px;
        content: "\005E";
        transform: rotate(-90deg);
        font-weight: bold;
      }
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .swiper-slide {
    padding: 0 50px;

    @media screen and (max-width: 1350px) {
      padding: 0;
    }

    img {
      display: block;
      width: 100%;
      // height: auto;
      object-fit: contain;
    }
  }
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #2e69ad;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #2e69ad;
  }
}
