.slideWrapper {
  padding: 0 25px;

  @media screen and (max-width: 1350px) {
    padding: 0;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column-reverse;
  }
}

.rightSide {
  width: 35%;
  padding: 40px;

  img {
    object-fit: contain;
  }

  @media screen and (max-width: 1350px) {
    width: 40%;
  }

  @media screen and (max-width: 1250px) {
    width: 45%;
  }

  @media screen and (max-width: 750px) {
    width: 60%;
    padding: 20px;
    align-self: center;
  }
}

.leftSide {
  width: 65%;
  gap: 40px;

  &Content {
    padding: 32px;
    gap: 30px;
  }

  @media screen and (max-width: 1350px) {
    width: 55%;
  }

  @media screen and (max-width: 1250px) {
    width: 50%;
    gap: 30px;

    &Content {
      padding: 10px;
      gap: 20px;
    }
  }

  @media screen and (max-width: 950px) {
    gap: 0;

    &Content {
      padding: 10px;
      gap: 15px;
    }
  }
  @media screen and (max-width: 750px) {
    gap: 15px;
    width: 100%;
    padding: 0 0 40px 0;
  }
}

.title {
  text-align: left;
  color: rgb(102, 102, 102);
  font-size: 1.5rem;

  @media screen and (max-width: 1350px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 950px) {
    font-size: 1.1rem;
  }
  /* @media screen and (max-width: 700px) {
    text-align: center;
  } */
}

.code {
  text-align: left;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;

  @media screen and (max-width: 1350px) {
    font-size: 2.8rem;
  }
  @media screen and (max-width: 950px) {
    font-size: 2rem;
  }
}

.description {
  text-align: left;
  color: rgb(102, 102, 102);
  font-size: 1.2rem;

  @media screen and (max-width: 1350px) {
    font-size: 1rem;
  }
}

.buttonContainer {
  padding-left: 32px;
  font-size: 1rem;
  text-transform: uppercase;

  @media screen and (max-width: 950px) {
    padding-left: 10px;
  }
}

.swiper-slide .mySlide {
  height: 700px;
}
