.swiper {
  width: 90%;
  height: 100%;
}

.mySwiper6 {
  height: 580px;
}
.swiper-slide {
  height: 580px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #2e69ad;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #2e69ad;
  }
}
