.logoLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  height: 106.7px;

  img {
    width: 100%;
    height: auto;
  }

  .logoText {
    color: black;
    font-size: 16px;
  }

  @media screen and (max-width: 1230px) {
    width: 300px;

    .logoText {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1130px) {
    width: 250px;

    .logoText {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1000px) {
    height: auto;
  }

  @media screen and (max-width: 400px) {
    width: 204.8px;
    height: 77.6px;

    .logoText {
      font-size: 10px;
    }
  }
}
